.App {
  height: 100%;
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}

.App .ant-layout-sider-trigger {
  position: absolute;
}

.App .ant-layout-sider-light {
  height: 100%;
}

.App .ant-layout-sider-children {
  overflow-x: hidden;
  overflow-y: auto;
}